<!DOCTYPE html>
<html>
<head>
</head>
<body style="margin:0;padding:0;">
<iframe id="xframe" name="<!--name-->" src="<!--url-->#lzscrcap_<!--id-->" style="border:0;width:<!--w-->px;height:<!--h-->px;"></iframe>
</body>
</html>