
BODY{
    background:transparent radial-gradient(#fff 20%,#ddd) repeat scroll 0 0;
    font-family:Arial,Helvetica,Liberation Sans,DejaVu Sans,sans-serif;
}

TD{
    vertical-align:top;
}

IFRAME{
    width:100%;
    border:1px solid #e0e0e0;
    height:400px;
}

INPUT{
    background-image:none !important;
    background:#fff;
    font-size:13px;
}

HR{
    border-top: 1px solid #e0e0e0 !important;
}

OL{
    padding: 0 20px;
}

LI{
    text-align:left;
    margin:5px 0;
}

FIELDSET{
    background:#f5f5f5;
    margin:10px 0;
    padding:15px 0 0 15px;
    text-align:left;
    border:1px solid #eee;
}

#index_main_container{
    margin-top:5vh;
    text-align:center;
    z-index:10;
    position:relative;
}

#index_main_container table{
    width:auto;
    margin:auto;
}

#index_main_container td{
    padding:10px;
}

#index_info, #index_install_progress{
    text-align:left;
    color: #595959;
}

#index_info table, .index_form_table, #index_install_progress table{
    border-spacing: 0 2px;
    border-collapse: separate;
    width:100% !important;
}

#index_info b{
    display:block;
}

#index_info tr, .index_form_table tr,#index_install_progress tr{
    background:#f5f5f5;
}

#index_install_progress tr:hover{
    cursor:pointer;
    background:#f0f0f0;
}

#index_info td:nth-child(1),#index_install_progress td:nth-child(1){
    width:10px;
}

#index_nav_box{
    height:40px;
    margin:10px 0;
}

#index_link_table{
    width:auto;
}

#index_link_table td{
    padding:2px;
}

#index_install_progress td, .index_form_table td{
    vertical-align:middle;
}

.index-header{
    padding:10px 0 25px 0;
    vertical-align:middle;
    text-align:center;
}

.index_form_table td:nth-child(1){
    width:140px;
    color:#666;
    white-space: nowrap;
}

.index_form_table label{
    font-size:13px;
    padding:0;
}

.index_main_box{
    padding:15px;
    background:#fbfbfb;
    border:1px solid #e0e0e0;
    margin:0 0 10px 0;
    width:240px;
}

.index_center_box{
    font-size:14px;
    padding:10px 30px 15px 30px;
    width:450px;
}

.index-button{
    cursor:pointer;
    display:block;
    background:linear-gradient(to bottom, #84cc31 5%, #77bf24 30%, #6fb322 100%);
    border-radius:2px;
    border:1px solid #4b8f29;
    color:#ffffff;
    padding:3px 8px;
    text-shadow:0 1px 0 #5b8a3c;
    text-decoration: none;
}

.index-button:hover{
    background:#77bf24;
}

.index-button-blue{
    background:linear-gradient(to bottom, #3399ff 5%, #3091f2 30%, #2e8ae5 100%);
    border:1px solid #2d6cab;
    padding:8px 24px;
}

.index-button-blue:hover{
    background:#3091f2;
}

.index-button-red{
    background:linear-gradient(to bottom, #f23030 5%, #e52e2e 30%, #db2c2c 100%);
    border:1px solid #9e2929;
    padding:10px 8px;
    margin-right:10px;
    text-align: center;
}

.index-button-red:hover{
    background:#e52e2e;
}

.index-button-l{
    padding:12px 24px;
    font-size:14px;
}

.index-button-xl{
    padding:14px;
    font-size:22px;
    margin:20px 10px;
}

.index-button-multi{
    display:inline-block;
    padding:8px 24px;
}

.index-button-left{
    border-radius: 3px 0 0 3px;
    margin-left: 5px;
}

.index-button-right{
    border-radius: 0 3px 3px 0;
    margin-left:-5px;
}

.index_logo{
    max-width: 80%;
    height: auto;
}

.index-tut-small{
    position: relative;
    float: right;
    right: -10px;
    cursor: pointer;
    max-width: 100px;
    height: auto;
    border: 2px solid #3091f2;
    box-shadow: 2px 2px 5px #666;
    margin: 10px 0 40px 20px;
}

.index-tut{
    position:absolute;
    left:50%;
    top:50%;
    margin:-350px 0 0 -470px;
    width:940px;
    height:640px;
    box-shadow: 2px 2px 10px #666;
    display:none;
}

.index-tut img{
    cursor:pointer;
}

@media only screen and (max-width: 600px) {
    .index_dispensable {
        display: none;
    }
}