BODY{
    font-size:14px;
    font-family:Arial,Helvetica,Liberation Sans,DejaVu Sans,sans-serif;
    color:#555;
}

A{
    color:#0073d0;
    text-decoration: none;
}

A:hover{
    text-decoration: underline;
}

H4{
    font-weight: normal;
}

TABLE{
    color:#575757;
    border:0;
    padding:0;
    margin:0;
    border-spacing:0;
    border-collapse:collapse;
}

TD{
    vertical-align:top;
    text-align:left;
    padding:0;
    margin:0;
}

FIELDSET{
    background-color:#fff;
    border-radius:3px;
    padding:15px;
    border:1px solid #e6e6e6;
}

.text_error{
    color:#ff2e5a;
    border:1px solid #ff2e5a;
    max-width:580px;
    font-weight:bold;
    background:#ffebef;
    padding:10px;
    margin:10px auto;
    border-radius:3px;

}

.form_button{
    background:#7a7a7a;
    font-size:13px;
    font-weight:bold;
    color:#fff;
    border:0;
    border-radius:3px;
    cursor:pointer;
    background-size:20px;
    background-repeat: no-repeat;
    background-position:8px 3px;
    -webkit-appearance: none;
}

.form_button:hover{
    opacity:.9;
}

#lz_chat_feedback_init_frame{position:absolute;top:18px;right:86px;z-index:10;}
#lz_chat_feedback_init{margin:0 5px;width:50px;height:30px;background:url('./../images/icon_feedback.png') no-repeat center center;visibility:hidden;}
#lz_chat_feedback_button{font-size:14px;display: block;width: 100%;max-width: 300px;margin: 10px auto;padding:10px;border-radius: 0;box-sizing: content-box;}
#lz_chat_feedback_comment{font-size:14px;margin:0;padding:0;width:100%;height:60px;background:#fff;outline:none;resize:none;border:0;font-family:Arial,Helvetica,Liberation Sans,DejaVu Sans,sans-serif;}

.lz_chat_feedback_table{width:100%;margin:0 auto;max-width:600px;}
.lz_chat_feedback_table td{padding:8px 0;vertical-align:middle;}
.lz_chat_feedback_table fieldset{margin:12px 0;padding:3px 10px 3px 10px;}
.lz_chat_feedback_table legend{padding:0 10px 0 10px;}
.lz_chat_feedback_title{font-size:14px;}
.lz_chat_feedback_star{width:24px;height:24px;padding:0;cursor:pointer;font-size: 200% !important;margin:0 3px;}
.lz_chat_feedback_star_full{color:orange;}
.lz_chat_feedback_star_half{color:#eee;}

