* {
    -webkit-text-size-adjust: none;
    color: #666666;
}

HTML {
    height: 100%;
}

BODY {
    font-family: helvetica, arial, verdana;
    font-size: 13px;
    -webkit-text-size-adjust: none;
}

OPTION {
    padding: 2px;
    color: #000;
}

SELECT {
    border-radius: 2px;
    border: 1px solid #9d9d9d;
    background: #fcfcfc;
}

INPUT, TEXTAREA, SELECT {
    font-family: helvetica, arial, verdana;
    color: #000;
    box-sizing: border-box;
}

BUTTON {
    cursor: pointer;
    padding-top: 1px;
}

TABLE {
    color: #575757;
    border: 0;
    padding: 0;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

TD {
    vertical-align: top;
    text-align: left;
    padding: 0;
    margin: 0;
}

HR {
    color: #b6b6b6;
    background-color: #b6b6b6;
    height: 1px;
    border: none;
}

LABEL {
    font-size: 13px;
    font-weight: bold;
}

INPUT::-ms-clear {
    display: none;
}

INPUT[type=checkbox] {
    vertical-align: bottom;
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    padding: 10px;
    margin: 0 10px 0 0;
}

H4 {
    padding: 0;
    font-weight: normal;
    font-size: 13px;
    margin: 20px 0;
}

@media only screen and (max-device-width: 380px) {
    INPUT[type=file] {
        max-width: 185px;
    }
}

@media only screen and (max-device-width: 320px) {
    INPUT[type=file] {
        max-width: 160px;
    }
}

#lz_chat_param {
    background: #f9f9f9;
    height: 22px;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 3px 10px 0 0;
}

#lz_chat_floor {
    width: 100%;
    height: 100%;
    background-color: #f6f7f8;
}

#lz_chat_floor * {
    position: absolute;
}

#lz_chat_text {
    border: 0;
    border-top: 1px solid #d9dce0;
    height: 62px;
    width: 100%;
    resize: vertical;
    font-size: 13px;
    padding: 8px 6px;
    outline: none;
    resize: none;
}

#lz_chat_operator_typing_info {
    position: absolute;
    bottom: 3px;
    left: 5px;
    z-index: 8;
    height: 11px;
    font-size: 12px;
    white-space: nowrap;
    border-radius: 5px;
    padding: 4px 10px 4px 25px;
    background-image: url('./../images/icon_talk.gif');
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

#lz_chat_submit {
    display: none;
    right: 10px;
    top: 10px;
    border: 0;
    width: 48px;
    height: 40px;
    background-color: #8c8c8c;
    border-radius: 3px;
    background-image: url('./../images/lz_button_chat.gif');
    cursor: pointer;
    font-size: 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#lz_chat_misc {
    border-top: 1px solid #c3c3c3;
    background-color: #e1e1e1;
    padding: 12px;
    padding-top: 4px;
    background-repeat: repeat-x;
}

#lz_chat_translation_target_language {
    width: 160px;
    background: #fff;
}

#lz_chat_misc TD {
    color: #414141;
}

#lz_chat_representative {
    top: 0;
    right: 9px;
    width: 250px;
    height: 90px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#lz_chat_loading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    line-height: 100%;
    background: #fff;
    z-index: 8;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#lz_form_values {
    display: none;
}

#lz_header {
    width: 100%;
    height: 99px;
}

#lz_chat_dialog {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}

#lz_chat_dialog_bg {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #888;
    z-index: 9;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
    filter: alpha(opacity=75);
    opacity: .75;
}

#lz_chat_dialog_box {
    border: 2px solid #fff;
    box-shadow: 3px 3px 5px #424242;
    border-radius: 3px;
    display: inline-block;
    background: #fff;
}

#lz_chat_dialog_footer {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    background: #f9f9f9;
    padding: 10px 0;
    text-align: right;
    border-top: 1px solid #DDD;
    box-shadow: 0px 1px 0px #FFF inset;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#lz_chat_dialog_footer input {
    margin: 0 15px 0 0;
}

#lz_chat_dialog_resource {
    border: 0;
    background: #fff;
    overflow: scroll;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#lz_chat_dialog_resource_frame {
    border: 0;
    background: #FFF;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#lz_chat_dialog_text {
    color: #000 !important;
    margin: 20px;
    vertical-align: middle;
    line-height: normal;
}

#lz_chat_dialog_text_frame {
    background: #fff;
    padding: 0 2px 0 0;
    top: 28px;
    bottom: 50px;
    right: 0;
    left: 0;
    min-width: 300px;
    min-height: 40px;
}

#lz_chat_dialog_header {
    display: none;
    background: #fff;
    font-size: 9px;
    color: #fff;
    font-weight: bold;
    padding: 0px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    height: 2px;
}

.lz_chat_unselectable * {
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

#lz_chat_ticket_success {
    font-size: 14px;
    color: #787878;
    width: 80%;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}

#lz_chat_ticket_success b {
    font-size: 16px;
}

#lz_chat_mail_values {
    display: none;
}

#lz_chat_content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

#lz_chat_operator_image {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 80px;
    height: 60px;
    overflow: hidden;
    border-radius: 4px;
    padding: 0;
    background-image: url('./../images/avatar.png');
    background-repeat: no-repeat;
}

#lz_chat_operator_details {
    position: absolute;
    right: 94px;
    top: 52px;
    text-align: right;
}

#lz_chat_operator_fullname {
    color: #777;
    font-weight: bold;
    font-size: 13px;
}

#lz_chat_operator_groupname {
    color: #777;
    padding: 0 0 0 5px;
}

#lz_chat_vcard_box {
    position: absolute;
    top: 80px;
    right: 16px;
    width: 70px;
    text-align: center;
    border-radius: 2px;
    z-index: 9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#lz_chat_vcard_text {
    text-decoration: none;
    font-size: 11px;
}

#lz_chat_main {
    margin: 0 0 20px 0;
    padding: 8px 0;
    overflow-y: auto;
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    bottom: 66px;
}

#lz_chat_main a {
    font-size: 13px;
    color: #787878;
    text-decoration: underline;
}

#lz_chat_call_me_back_info {
    text-align: center;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 30%;
    z-index: 8;
}

#lz_chat_call_me_back_info table {
    padding: 5px;
    width: 100%;
}

#lz_chat_call_me_back_info td {
    text-align: center;
    padding: 12px;
}

#lz_chat_call_me_back_st {
    font-size: 16px;
    font-weight: bold;
}

.lz_chat_link {
    color: #787878;
    text-decoration: underline;
    padding-left: 19px;
    background-image: url('./../images/icon_link.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.lz_chat_file {
    color: #787878;
    text-decoration: underline;
    padding-left: 19px;
    background-image: url('./../images/icon_file.png');
    background-repeat: no-repeat;
    background-position: left top;
}

.lz_chat_mail {
    color: #787878;
    text-decoration: underline;
    padding-left: 19px;
    background-image: url('./../images/icon_mail.png');
    background-repeat: no-repeat;
    background-position: left top;
}

#lz_chat_options {
    display: inline-block;
    width: 50px;
    padding: 1px 10px 0 30px;
    margin: 0;
    vertical-align: middle;
    line-height: 30px;
    height: 100%;
    cursor: pointer;
    background: #ebebeb url('./../images/icon_cog.png') no-repeat 8px 8px;
}

#lz_chat_options:hover {
    background-color: #f5f6f7;
}

#lz_chat_options_table {
    background: #ebebeb;
    z-index: 10;
    border-right: 1px solid #d9dce0;
    position: absolute;
    right: 10px;
}

#lz_chat_options_table td {
    cursor: pointer;
    border-bottom: 1px solid #FFF;
    vertical-align: middle;
    padding: 0 10px;
}

#lz_chat_options_table tr:hover {
    background: #f0f0f0;
}

.lz_chat_options_table_logo {
    background: #8C8C8C;
    text-align: center;
    width: 30px;
    padding: 3px 0 0 0 !important;
}

#lz_chat_file_upload_frame {
    border: 0;
    height: 200px;
    width: 300px;
}

#lz_chat_site_title {
    color: #909090;
    padding: 2px 0 0 18px !important;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
    line-height: 32px;
}

#lz_chat_file_load {
    display: none;
    left: 50%;
    margin: 15px 0 15px -24px;
}

#lz_chat_file_status {
    margin: 15px;
}

.lz_chat_file_upload_icon {
    display: none;
    margin: 15px auto;
}

#lz_chat_file_file {
    margin: 8px auto 15px auto;
    border-radius: 5px;
    padding: 10px;
}

.lz_chat_module {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    visibility: hidden;
    padding: 5px 0 0 0;
    overflow: auto;
}

.lz_chat_function_frame {
    display: table-cell;
    overflow: auto;
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    height: 0;
    width: 100%;
    background: #F9F9F9;
    vertical-align: middle;
    border-bottom: 1px solid #b7b7b7;
    z-index: 6;
}

.function_frame_table {
    width: 100%;
}

.function_frame_table td {
    padding: 5px;
    vertical-align: middle;
}

.function_frame_table input, .function_frame_table select {
    width: 100% !important;
    background: #fff;
}

#lz_chat_function_splitter {
    left: 0;
    top: 0;
    height: 3px;
    width: 100%;
}

#lz_chat_emoticons_frame {
    text-align: center;
}

#lz_chat_logo {
    position: absolute;
    z-index: 1;
    margin: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 99px;
}

#lz_chat_top_bg {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 99px;
}

#lz_chat_error_field {
    visibility: hidden;
    width: 100%;
    text-align: center;
}

#lz_chat_groups_loading {
    visibility: hidden;
    margin-left: 10px;
}

#lz_chat_body_chat_function {
    background: #F9F9F9;
}

#lz_chat_queue_position {
    font-weight: bold;
}

#lz_chat_queue_waiting_time {
    font-weight: bold;
}

#lz_chat_waiting_links li {
    margin: 7px 0 0 0;
}

#lz_chat_file_send {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
}

label.lz_chat_file_label input[type="file"] {
    position: fixed;
    top: -1000px;
}

.lz_chat_file_label {
    width: 100%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background: #eee;
    padding: 14px;
    color: #333;
    border-radius: 2px;
    box-sizing: border-box;
}

.lz_chat_file_label:hover {
    background: #f1f1f1 !important;
}

.lz_required {
    background-image: url('./../images/lz_icon_required.png');
}

.lz_info {
    background-image: url('./../images/lz_icon_info.png');
    cursor: pointer;
}

.lz_form_icon {
    width: 16px;
    padding: 0 5px;
    vertical-align: middle;
}

.lz_input_icon {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    line-height: 1px;
}

.lz_input {
    width: 100%;
    min-width: 50px;
    max-width: 400px;
    margin: 5px auto 10px auto !important;
}

.lz_input strong {
    line-height: 24px;
}

.lz_input td {
    vertical-align: middle;
}

.lz_input_com td {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.lz_input_com strong {
}

.lz_input_header {
    overflow: hidden;
    background: #fff;
    height: 80px;
    color: #727372;
    width: 100%;
    max-height: 80px;
    margin-bottom: 10px;
    padding-top: 10px;
}

#lz_header_type_icon {
    width: 100px;
    height: 51px;
    background: no-repeat;
    background-position: 50% 20px;
    text-align: right;
}

#lz_header_icon_operator {
    position: absolute;
    left: 25px;
    margin: 15px 0 0 0;
    visibility: hidden;
    border-radius: 7px;
    border: 3px solid #dbdbdb;
    width: 60px;
    height: 45px;
    zindex: 9px;
}

#lz_header_icon_operator_close {
    position: absolute;
    left: 11px;
    margin: 20px 0 0 -3px;
    visibility: hidden;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    zindex: 10px;
}

#lz_header_target {
    font-weight: normal;
    padding-left: 6px;
    color: #7d7d7d;
}

#lz_header_title {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

.lz_chat_clickable_image {
    cursor: pointer;
    margin: 0 3px 0 2px;
    opacity: 1.0;
}

.lz_chat_clickable_image:hover {
    opacity: 0.8;
}

.lz_form_button {
    background: #7a7a7a;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 40px;
    color: #fff;
    border: 0;
    cursor: pointer;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 8px 3px;
    -webkit-appearance: none;
}

.lz_form_button:hover {
    opacity: .9;
}

.lz_form_multi_button {
    min-width: 280px;
    margin: 5px;
}

.lz_form_button_disabled {
    background: #ebebeb;
    color: #bdbdbd;
    border: 1px solid #bdbdbd;
}

.lz_form_box {
    padding: 0 0 0 6px;
    border: 1px solid #c7c7c7;
    width: 100%;
    height: 27px;
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12) inset;
}

.lz_form_area {
    padding: 6px 6px;
    border: 1px solid #c7c7c7;
    width: 100%;
    height: 130px;
    font-size: 14px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12) inset;
}

.lz_form_check {
    padding: 0;
    margin: 0;
}

.lz_form_file {
    display: block;
    padding: 5px 0 5px 30px;
    width: 100%;
}

.lz_form_file input {
    opacity: 0.5;
}

.lz_form_file input:hover {
    opacity: 1;
}

.lz_form_file_box {
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12) inset;
    padding: 10px 4px 10px 0;
}

.lz_form_file_box span {
    display: inline;
    padding-right: 10px;
}

.lz_form_field {
    vertical-align: middle;
    font-size: 13px;
    white-space: nowrap;
    width: 35%;
    min-width: 35px;
    max-width: 250px;
    margin: 0 5px 5px 5px;
    height: 25px;
    border-right: 5px solid #FFF;
    border-radius: 5px;
    text-align: right;
    padding: 3px 10px 3px 5px;
}

.lz_form_info_box {
    display: none;
    margin: -2px 0 0 -272px;
    text-align: left;
    color: #333333;
    z-index: 4900;
    width: 250px;
    position: absolute;
    padding: 7px;
    background: #fffde8;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #a9a9a9;
}

.lz_form_info_box * {
    color: #333333;
    line-height: normal !important;
}

#lz_form_groups {
    padding: 4px 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    background: #fcfcfc;
}

#lz_form_details {
    padding: 0 5px 0 40px;
}

#lz_form_mandatory {
    padding: 1px 0 4px 22px;
    margin: 0 0 0 10px;
}

.lz_chat_main_link {
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    line-height: 20px;
}

.lz_chat_ticket_title {
    font-size: 12px;
    font-weight: bold;
}

.lz_message {
    margin: 0 auto;
    width: 97%;
    margin-top: 6px;
}

.lz_message_a_title {
    font-family: arial, helvetica, verdana;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 0;
    vertical-align: middle;
    white-space: nowrap
}

.lz_message_a_time {
    font-family: arial, helvetica, verdana;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 0;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap
}

.lz_message_b {
    font-family: arial, helvetica, verdana;
    font-size: 11px;
    font-weight: bold;
    color: #7a7a7a;
    padding-bottom: 0;
    vertical-align: middle;
}

.lz_message_text {
    color: #333;
    font-weight: normal;
    font-size: 13px;
    font-family: arial, helvetica, verdana;
    padding: 1px 8px;
}

.lz_message_text * {
    color: #333;
    font-size: 13px;
    font-family: arial, helvetica, verdana;
}

.lz_message_text a {
    color: #666;
}

.lz_message_header {
    height: 20px;
    border-radius: 3px;
    margin-top: 12px;
}

.lz_message_translation {
    border-left: 0px solid #99ccff;
    margin-top: 4px;
    padding-left: 5px;
    color: #666666;
    font-style: italic;
    font-family: arial, helvetica, verdana;
}

.lz_index_blue {
    color: #0099ff;
    font-weight: bold;
}

.lz_index_howto_cat {
    color: #5C5C5C;
    font-weight: bold;
}

.lz_index_error_cat {
    color: #3A3A3A;
    font-weight: bold;
}

.lz_index_helplink {
    font-size: 10px;
    font-weight: bold;
    color: #7F7F7F;
    text-decoration: underline;
}

.lz_index_link {
    font-weight: bold;
    color: #7BB05D;
    text-decoration: none;
}

.lz_index_link:hover {
    font-weight: bold;
    color: #666666;
    text-decoration: none;
}

.lz_index_box {
    background-color: #FAFAFA;
    border: 1px solid #777;
    color: #000;
}

.lz_index_inner_box {
    text-align: left;
    background-color: #fff;
    border: 1px solid #777;
    color: #000;
}

.lz_index_description_box {
    color: #000;
}

.lz_index_light_text {
    color: #666666;
}

#lz_chat_navigation {
    overflow: hidden;
    z-index: 10000;
    display: none;
    margin: 0;
    padding: 0;
    background: #ebebeb;
    width: 100%;
    height: 37px;
    border-bottom: 1px solid #d9dce0;
    border-top: 1px solid #d9dce0;
}

#lz_chat_navigation * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

#lz_chat_navigation_tabs {
    position: absolute;
    display: table;
    list-style: none;
    cursor: pointer;
    margin: 0;
}

#lz_chat_navigation_tabs li {
    display: table-cell;
    font-weight: bold;
    min-width: 20px;
    width: 145px;
    border-right: 1px dotted #d9dce0;
}

#lz_chat_navigation_tabs li:hover {
    background-color: #f2f2f2;
    background-image: url('./../images/icon_selected.png');
    background-position: -358px 100%;
    background-repeat: no-repeat;
}

#lz_chat_navigation_tabs > li > div {
    display: table;
    border-spacing: 0px 0px;
    table-layout: fixed;
    width: 100%;
}

#lz_chat_navigation_tabs > li > div > span {
    display: table-cell;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.lz_chat_navigation_tab {
    color: #909090;
    text-align: center;
    text-shadow: 1px 1px #fff;
    margin: 0;
    padding: 0 5px;
    height: 38px;
    line-height: 38px;
}

.lz_chat_navigation_tab_active {
    color: #727372;
    background-color: #fafbfc;
    background-image: url('./../images/icon_selected.png');
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.lz_chat_navigation_tab_active:hover {
    background-image: url('./../images/icon_selected.png');
    background-position: 50% 100% !important;
    background-repeat: no-repeat;
}

#lz_chat_navigation_table {
    padding: 0;
    width: 100%;
    height: 100%;
}

#lz_chat_navigation_table td {
    padding: 0;
    vertical-align: middle;
}

#lz_chat_navigation_table * {
    line-height: 32px;
}

#lz_chat_navigation_status {
    position: absolute;
    font-weight: bold;
    height: 14px;
    width: 48px;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 2;
}

.lz_chat_navigation_status_online {
    background-image: url('./../images/lz_status_online.png');
}

.lz_chat_navigation_status_offline {
    background-image: url('./../images/lz_status_offline.png');
}

.lz_chat_members_back {
    position: absolute;
    right: 0;
    bottom: 85px;
    width: 130px;
    background: #f7f7f7;
    border-bottom: 1px solid #fff;
    padding: 3px;
}

.lz_chat_members_back_item {
    margin: 2px;
    padding: 2px;
    cursor: pointer;
}

.lz_chat_members_back_external {
}

.lz_chat_members_back_internal {
    font-weight: bold;
}

#lz_chat_kb_main {
    margin: 0 auto;
}

#lz_chat_kb_main td {
    padding: 0;
    vertical-align: top;
}

#lz_chat_kb_navigation {
    min-width: 180px;
    max-width: 400px;
    overflow: hidden;
    padding-right: 18px !important;
}

#lz_chat_kb_navigation div {
    padding: 6px 9px 6px 14px;
}

#lz_chat_kb_navigation div:hover {
    background-color: #f0f0f0;
    cursor: pointer
}

#lz_chat_kb_navigation hr {
    margin: 0;
    background-color: #eee;
}

#lz_chat_kb_navigation a {
    text-decoration: none;
}

#lz_chat_kb_navigation span {
    float: right;
    color: #b8b8b8;
}

#lz_chat_kb_navigation fieldset {
    padding: 5px 0 0 0;
    text-align: left;
    background: #f9f9f9;
}

#lz_chat_kb_navigation legend {
    margin: 0 0 0 15px;
}

#lz_chat_kb_navigation_top {
    width: 100%;
    height: 100px;
    background-image: url('./../images/icon_top.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: none;
    cursor: pointer;
}

.lz_chat_kb_category {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.lz_chat_kb_category ul {
    padding: 0 0 0 15px;
    margin: 0px;
}

#lz_chat_kb_match_info_text {
    display: table-cell;
    position: absolute;
    top: 32px;
    right: 32px;
    left: 25px;
    bottom: 58px;
    padding-bottom: 38px;
}

#lz_chat_kb_match_info_text span {
    color: #000;
    position: relative;
    top: 50%;
    margin-bottom: 50px;
}

#lz_chat_kb_match_info {
    color: red;
    display: none;
    position: absolute;
    margin: -15px 0 0 -5px;
    width: 270px;
    height: 133px;
    background-image: url('./../images/info_box.png');
    background-repeat: no-repeat;
    z-index: 10000;
    font-size: 12px;
}

#lz_chat_kb_match_info td {
    font-weight: bold;
}

.lz_chat_kb_match_button {
    font-weight: bold;
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 222px;
    height: 30px;
    border: 0;
    border-radius: 3px;
}

#lz_chat_kb_icon {
    line-height: 20px;
    text-shadow: none;
    padding: 0;
    margin: 0 0 0 3px;
    color: #fff;
    border-radius: 10px;
    font-size: 10px;
    min-height: 20px;
    min-width: 20px;
}

#lz_chat_kb_input {
    width: 100%;
    height: 40px;
    max-width: 800px;
    min-width: 0;
    background: url('./../images/lz_search.png') 5px 7px no-repeat;
    padding: 3px 150px 3px 38px;
    margin: 1px 0 0 0;
    font-size: 14px;
}

#lz_chat_kb_search {
    position: absolute;
    height: 32px;
    min-width: 0;
    width: 100px;
    margin: 5px 5px 5px -104px;
    padding: 6px 23px;
    border-radius: 3px;
}

#lz_chat_kb_reset {
    position: absolute;
    height: 32px;
    min-width: 0;
    width: 28px;
    margin: 5px 5px 5px -32px;
    padding: 6px 4px;
    background: #8c8c8c url('./../images/button_close.gif') no-repeat 5px 1px;
    border-radius: 0 3px 3px 0;
    border-left: 1px solid #ccc;
}

.lz_chat_kb_result {
    width: 80%;
}

.lz_chat_kb_results {
    padding: 10px 20px;
    text-align: center;
    vertical-align: top;
}

#lz_chat_kb_external_link {
    font-size: 18px;
    color: #bfbfbf;
}

#lz_chat_kb_articles {
    margin: 0 0 0 5px;
    background: #878787 url('./overlays/chat/images/icon_kb.png') no-repeat 5px 1px;
}

.lz_chat_kb_link a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.lz_chat_input_icon {
    width: 24px;
    height: 27px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.lz_chat_input_icon_online {
    background-image: url('./../images/lz_status_online_select.png');
}

.lz_chat_input_icon_offline {
    background-image: url('./../images/lz_status_offline_select.png');
}

.lz_chat_input_icon_search {
    background-image: url('./../images/lz_search.png');
}

::-webkit-input-placeholder {
    color: #6f6f6f;
}

@-moz-keyframes lz_anim_loading {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lz_anim_loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes lz_anim_loading {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lz_anim_loading:not(:required) {
    margin-top: 15px;
    border: 12px solid #b2b2b2;
    border-right-color: transparent;
    width: 48px;
    height: 48px;
    border-radius: 32px;
    -moz-animation: lz_anim_loading 1250ms infinite linear;
    -webkit-animation: lz_anim_loading 1250ms infinite linear;
    animation: lz_anim_loading 1250ms infinite linear;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
}


