<div class="lz_overlay_chat_message lz_overlay_chat_message_full lz_overlay_chat_message_external">
    <div class="lz_overlay_chat_message_list">
        <div data-my="<!--my-->" class="lz_overlay_chat_message_element lz_overlay_chat_message_avatar lz_overlay_chat_message_avatar_external lz_overlay_br_two">
            <div style="background-image: url('<!--server-->picture.php?name=<!--ename-->&ebg=<!--bgce-->');"></div>
        </div>
        <div class="lz_overlay_chat_message_element">
            <span class="lz_overlay_chat_message_time"><!--time--></span>
            <div  data-my="<!--my-->" class="lz_overlay_chat_message_name lz_overlay_chat_message_name_external">
                <span><!--name--></span>
                <span onclick="lz_chat_switch_details(false);" style="display:<!--edit_display-->;" class="lz_overlay_chat_message_change"></span>
            </div>
            <div class="lz_overlay_chat_message_text"><!--message--></div>
        </div>
    </div>
</div>
