#lz_overlay_chat *[type="text"].lz_form_box{padding:11px 10px;-webkit-appearance:none;}
#lz_overlay_chat .lz_form_box{box-sizing:border-box;background:#fcfcfc;padding:7px 5px;box-shadow:none;border:1px solid #dedede;width:100%;border-radius:0;}
#lz_overlay_chat .lz_form_area{resize:vertical;padding:9px;width:100%;height:110px;border-radius:0;-webkit-appearance:none;}
#lz_overlay_chat .lz_input{min-width:80px;margin:0 !important;width:100%;padding:4px 0 4px 0;}
#lz_overlay_chat .lz_form_field{white-space:nowrap;margin:0 5px 5px 5px;height:25px;border-right:5px solid #fff;border-radius:5px;text-align:right !important;padding:1px 10px 1px 0px !important;}
#lz_overlay_chat .lz_form_file{width:100%;}
#lz_overlay_chat .lz_form_file_container{padding:5px 5px 2px 5px;display:none;}
#lz_overlay_chat .lz_form_file_box{display:inline-block;margin:3px 3px 0 0;}
#lz_overlay_chat .lz_form_file_box *{display:inline-block;}
#lz_overlay_chat .lz_form_file_item{border-radius:3px 0 0 3px;margin:2px 0;padding:8px 10px;cursor:default;border:1px solid #999;font-size:12px;}
#lz_overlay_chat .lz_form_file_remove{border-radius:0 3px 3px 0;color:#fff;background:#999;font-weight:bold;cursor:pointer;}
#lz_overlay_chat .lz_form_file_remove:hover{opacity:.9;}
#lz_overlay_chat .lz_form_file_add svg{margin:2px 0;fill:#73BE28;display:inline-block;position:static;width:28px;}
#lz_overlay_chat .lz_form_file_caption{float:left;padding:4px 5px;}
#lz_overlay_chat .lz_form_select{color:#555;padding: 10px 6px;-webkit-appearance:menulist;}
#lz_overlay_chat .lz_form_icon{width:1px;padding:0;}
#lz_overlay_chat .lz_form_info_box{margin:-12px 22px 0 10px;text-align:left;color:#fff;position:absolute;padding:12px;background:var(--pc-color);box-shadow: 1px 1px 3px #a9a9a9;}
#lz_overlay_chat .lz_form_info_box *{vertical-align:top;}
#lz_overlay_chat .lz_input_icon{width:25px;height:16px;background-repeat:no-repeat;padding:0px;margin:0px;background-position:right;padding:0 0 1px 0;}
#lz_overlay_chat .lz_overlay_chat_caption{color:#757575;}
#lz_overlay_chat .lz_overlay_chat_required{color:#ff7800;font-size:80% !important;padding:0 0 0 5px !important;font-weight:bold;}
#lz_overlay_chat .lz_overlay_chat_change{color:#838383;font-size:80% !important;font-weight:normal;font-style:normal;cursor:pointer;margin-bottom:5px !important;}
#lz_overlay_chat .lz_overlay_chat_status_inner{text-align:center !important;background:none !important;padding:20px 15px 5px 15px;}
#lz_overlay_chat .lz_overlay_chat_status_inner *{background:none !important;vertical-align:top !important;}
#lz_overlay_chat .lz_overlay_chat_status_inner strong{background:transparent !important;font-style:normal;}
#lz_overlay_chat .lz_overlay_chat_message{padding:10px;box-sizing: border-box;border: 1px solid #ddd;background:#fefefe;border-radius:3px;box-sizing:border-box;}
#lz_overlay_chat .lz_overlay_chat_message_full{padding:10px;margin:15px 15px 0 15px;}

#lz_overlay_chat .lz_overlay_chat_message_add{padding: 8px 10px;margin: -3px 15px 0 15px;border-radius: 0 0 3px 3px;border-top: 1px solid #eee;}
#lz_overlay_chat .lz_overlay_chat_message_list{display:table !important;width:100%;}
#lz_overlay_chat .lz_overlay_chat_message_element{display:table-cell !important;}
#lz_overlay_chat .lz_overlay_chat_message_avatar{width:54px;padding:7px 3px;vertical-align:top;}
#lz_overlay_chat .lz_overlay_chat_message_avatar div{width:48px;height:36px;background-size:100% 100%;border-radius:2px;}
#lz_overlay_chat .lz_overlay_chat_message_time{font-size:80%;float:right;color:#999;margin:2px 0 0 5px;}
#lz_overlay_chat .lz_overlay_chat_message_name{font-weight:bold;padding:4px 5px 0 5px;}
#lz_overlay_chat .lz_overlay_chat_message_name span{}
#lz_overlay_chat .lz_overlay_chat_message_text{padding:5px 10px 5px 5px;color:#555;}
#lz_overlay_chat .lz_overlay_chat_message_change svg{width:12px;position:relative;bottom:2px;left:2px;opacity:.8;}
#lz_overlay_chat .lz_overlay_chat_message_change svg:hover{opacity:1;}
#lz_overlay_chat .lz_overlay_translation{margin:2px 0 4px 5px;font-style:italic;}
#lz_overlay_chat .lz_overlay_chat_options_link{text-decoration:none;cursor:pointer;color:#999;}
#lz_overlay_chat .lz_overlay_chat_options_footer {vertical-align:middle;}
#lz_overlay_chat .lz_overlay_chat_button{background:var(--sc-color);max-width:300px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:center;border:0;cursor:pointer;color:#fff !important;font-size:14px;padding:10px;margin:10px auto;white-space: nowrap;font-weight: bold;}
#lz_overlay_chat .lz_overlay_chat_button:hover{background:var(--pc-color) !important;}

#lz_overlay_chat .lz_overlay_chat_gradient{height:25px;width:100%;}
#lz_overlay_chat .lz_chat_overlay_options_text{width:200px !important;}
#lz_overlay_chat .lz_chat_overlay_options_function{font-weight:bold;cursor:pointer;width:160px;height:17px;line-height:normal !important;margin:4px 5px 0 -1px;border:0}
#lz_overlay_chat .lz_chat_overlay_options_options_box{width:90% !important;margin:5px 0 0 0;}
#lz_overlay_chat .lz_chat_module{position:absolute;display:none;top:0;right:0;left:0;bottom:6px;background:transparent !important;padding:0;overflow:auto;}
#lz_overlay_chat .lz_chat_header{padding:12px 0;}
#lz_overlay_chat .lz_chat_sub_header{background:#f6f6f6;}
#lz_overlay_chat .lz_chat_sub_header h2{color:#666 !important;}
#lz_overlay_chat .lz_chat_header h2{padding:.2em 0;text-align:center;font-size:1.3em;font-weight:normal;color:#fff;}
#lz_overlay_chat .lz_chat_footer{background:#fafafa;border-top:1px solid #e4e4e4;}
#lz_overlay_chat .lz_chat_overlay_pointer{display:none;position:fixed;width:0;height:0;}
#lz_overlay_chat .lz_chat_overlay_pointer div{position:relative;width:0;height:0;}
#lz_overlay_chat .lz_chat_overlay_icon{cursor:pointer;width:30px;height:20px;fill:#fff;position:absolute;bottom:auto;}
#lz_overlay_chat .lz_chat_overlay_icon:hover{opacity:0.5;}
#lz_overlay_chat .lz_chat_overlay_icon path{transform:scale(.012);}
#lz_overlay_chat .lz_overlay_chat_message_change .lz_chat_overlay_icon{fill:#777 !important;}
#lz_overlay_chat .lz_chat_overlay_toggle_icon:hover{opacity:1;}

#lz_overlay_chat .lz_chat_bot_resource{margin:6px 0 0 0 !important; padding:2px 0 2px 0 !important;}
#lz_overlay_chat .lz_chat_bot_resource li{padding:10px !important;margin:4px 0 11px 0 !important;list-style-type: none;}
#lz_overlay_chat .lz_chat_bot_resource li a{color:#fff !important;text-decoration: none;}
#lz_overlay_chat .lz_chat_bot_button{color:#fff !important;text-align:center;padding:8px 4px;cursor:pointer;margin:7px 0;border-radius:2px;font-weight:400;max-width:300px;}
#lz_overlay_chat .lz_chat_bot_button:hover{background:var(--sc-color) !important;}

#lz_overlay_chat .lz_overlay_c{z-index:1300;border-radius:50%;background:#e62117;width:26px;height:26px;text-align:center;vertical-align:middle;position:absolute;top:-13px;right:10px;color:#fff;font-size:12px;line-height:26px;font-weight:bold;}

#lz_overlay_wm .lz_overlay_wm_button{cursor:pointer;position:relative;}
#lz_overlay_wm .lz_overlay_wm_button:hover{box-shadow:0 5px 36px rgba(0,0,0,.30);}
#lz_overlay_wm .lz_overlay_wm_button_disabled{cursor:not-allowed;opacity: .5;}

@media only screen and (min-width: 760px) {
    #lz_overlay_wm .lz_overlay_wm_icon:hover{transform:rotate(7deg);}
}

#lz_overlay_wm .lz_overlay_wm_icon{fill:#fff;position:relative;z-index:20000299;}
#lz_overlay_wm .lz_overlay_wm_bg{position:fixed;background:#ccc;display:none;top:0;right:0;left:0;bottom:0;}
#lz_overlay_wm .lz_overlay_wm_c{display:none;border-radius:50%;background:#e62117;width:26px;height:26px;text-align:center;vertical-align: middle;position: relative;top: -60px;left:33px;color:#fff;font-size:12px;font-weight: bold;}
#lz_overlay_wm .lz_overlay_wm_desc{float:right;font-weight:bold;position:fixed;display:none;padding:0px 16px;white-space:nowrap;background: rgb(115, 190, 40);font-family:sans-serif,Helvetica,Arial,'Roboto' !important;-webkit-font-smoothing: antialiased;cursor:none;color:#fff;}
#lz_overlay_wm .lz_overlay_wm_sh_act{box-shadow:0 5px 36px rgba(0,0,0,.18);}

#lz_overlay_chat .lz_decline_link svg{fill:#777;position:relative;bottom:1px;height:20px;}
#lz_overlay_chat .lz_decline_link{cursor:pointer;opacity:0.6;text-decoration:none;padding:4px 0 0 0;}
#lz_overlay_chat .lz_decline_link:hover{opacity:1;}

.lz_anim_hs{animation:lz_anim_hs 1s;-webkit-animation:lz_anim_hs 1s;}
.lz_anim_slide_in{animation: lz_anim_slide_in 0.5s forwards;}
.lz_anim_flip{animation: lz_anim_flip 0.5s forwards;}
.lz_anim_point_load {text-align: center;display: inline-block;padding:0 0 2px 0 !important;}
.lz_anim_point_load span{display:inline-block;border-radius:50%;background:#aaa !important;padding:5px !important;;margin:0 2px !important;;animation-name: blink;animation-duration: 1.4s;animation-iteration-count: infinite;animation-fill-mode: both;}
.lz_anim_point_load span:nth-child(2) {animation-delay: .2s;}
.lz_anim_point_load span:nth-child(3) {animation-delay: .4s;}

#lz_overlay_chat .lz_info svf, .lz_required svg{margin:-2px 0 0 0;}
#lz_overlay_chat .lz_required svg{fill:#f87500;position: relative;bottom: 3px;}
#lz_overlay_chat .lz_required svg:hover{opacity:1;}
#lz_overlay_chat .lz_required_info{margin:5px;padding:2px 0 0 2px;background-position:left;}
#lz_overlay_chat .lz_info svg{fill:#ccc;}
#lz_overlay_chat .lz_form_check {opacity: 0;user-select: none;}
#lz_overlay_chat .lz_form_check_label{max-width:90%;}
#lz_overlay_chat .lz_form_check, .lz_form_check_label {display: inline-block;cursor: pointer;font-weight: normal;padding:0;}
#lz_overlay_chat .lz_form_check + .lz_form_check_label:before {content: "";display: inline-block;width: 16px;height: 16px;margin:0 9px 5px -17px;background-image: linear-gradient(#f1f1f1,#fafafa);position:relative;top:-1px;float: left;}
#lz_overlay_chat .lz_form_check + .lz_form_check_label:before {border: 1px solid #b8b8b8;border-radius: 1px;}
#lz_overlay_chat *:focus{box-shadow:none;}
#lz_overlay_chat ::-webkit-input-placeholder{font-family:inherit;}
#lz_overlay_chat ::-moz-placeholder {font-family:inherit;}
#lz_overlay_chat :-ms-input-placeholder {font-family:inherit;}

.lz_chat_unavailable{opacity:.4;}
.lz_chat_disabled{z-index:1;cursor:not-allowed !important;pointer-events: none;opacity:.7;}
.lz_chat_unmovable{cursor:default;padding:0;}
.lz_chat_unselectable{-webkit-touch-callout:none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

#lz_overlay_wm, #lz_overlay_wm svg, #lz_overlay_chat, #lz_overlay_chat *{border-spacing:0;color:#666;box-sizing:content-box;font-size:14px;letter-spacing:normal;line-height:1.3;border:0;vertical-align:middle;background:initial;min-height:0px;width:auto;padding:0;margin:0;font-family:sans-serif,Helvetica,Arial,'Roboto' !important;-webkit-font-smoothing: antialiased;text-align:left;transform:none;box-sizing:initial;height:auto;}
#lz_overlay_wm *{box-sizing:content-box;margin:0;font-size:14px;letter-spacing:normal;line-height:normal;border:0;vertical-align:middle;min-height:0px;width:auto;padding:0;background:initial;height:auto;}

#lz_overlay_module_chat{overflow:hidden !important;}
#lz_overlay_module_chat *{font-size:14px;vertical-align:top;}
#lz_overlay_module_chat td,#lz_overlay_module_chat th{padding:0;border:0;text-align:left;background:none;}
#lz_overlay_module_chat tr{background:none;border:0 !important;}
#lz_overlay_module_chat table{margin:0;border:0 !important;}

#lz_chat_fs_loading{position:absolute;top:0;right:0;bottom:0;left:0;background:#fff;z-index:21000000;}
#lz_chat_fs_loading div.lz_anim_point_load{position: absolute;width: 100px;height: 100px;top: 50%;left: 50%;margin: -50px 0 0 -50px !important;z-index:21100000;}
#lz_chat_fs_loading div.lz_anim_point_load span{padding:9px !important;}
#lz_chat_fs_logo_right{position:absolute;top:0;right:0;height:100px;}
#lz_chat_fs_logo_left{position:absolute;top:0;left:0;height:100px;z-index:+1;}
#lz_chat_fs_body{position:absolute;left:0;bottom:0;right:0;overflow:hidden;}
#lz_chat_fs_header{position:absolute;top:0;left:0;right:0;height:98px;overflow:hidden;border-bottom:1px solid #d1d5d7;background:#fff;}
@media only screen and (max-width: 550px){#lz_chat_fs_logo_right{display:none !important;}}
@media only screen and (max-width: 400px),(max-height: 650px) {#lz_chat_fs_header{display:none !important;}#lz_chat_fs_body{top:0 !important;}}

#lz_chat_overlay_main{overflow:hidden;margin:0;padding-top:1px;height:100%;background:#fff;box-shadow:0 5px 36px rgba(0,0,0,.18);}
#lz_chat_overlay_main table,#lz_chat_overlay_main table td,#lz_chat_overlay_main table tr{border-collapse:separate;border:0px;padding:2px 0;}
#lz_chat_overlay_main td a{text-decoration:underline;background-repeat:no-repeat;font-weight:normal;vertical-align:bottom;color:#555;}
#lz_chat_overlay_options_box_bg{background:#fff !important;position:absolute;top:51px;left:1px;right:1px;bottom:0;cursor:default;opacity:.9;}
#lz_chat_overlay_options_box{box-shadow: 0 0 10px #666;border-spacing:0;background:#fff !important;position:absolute;top:90px;height:300px;width:260px;max-width:90%;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);cursor:default;}
#lz_chat_overlay_options_box input{cursor:pointer;}
#lz_chat_overlay_options_close{right:5px;top:8px;fill:#999 !important;}
#lz_chat_overlay_options_frame{position:absolute;overflow:hidden;width:100%;top:10px;height:100%;}
#lz_chat_overlay_text{z-index:1200;color:#fff;cursor:pointer;text-align:center;font-size:16px;font-weight:bold;line-height:42px !important;position:absolute;display:none;bottom:0;left:10px;top:0;right:10px;vertical-align:middle;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
#lz_chat_content{vertical-align:middle;padding:6px 1px;margin:0;position:absolute;bottom:20px;left:0;right:0;top:0;}
#lz_chat_overlay_data_form_ok_button{position:static;background-repeat:no-repeat;background-position: 7px center;background-size:20px;}
#lz_chat_overlay_data_form_cancel_button{position:static;background-repeat:no-repeat;background-position: 7px center;background-size:20px;}

#lz_overlay_module_knowledgebase iframe, #lz_overlay_module_feedback iframe, #lz_overlay_module_custom iframe{height:100%;width:100%;}
#lz_overlay_module_knowledgebase_content, #lz_overlay_module_feedback_content, #lz_overlay_module_tos_content, #lz_overlay_module_custom_content{position:absolute;top:50px;left:0;right:0;bottom:0;-webkit-overflow-scrolling: touch;overflow:auto;}
#lz_overlay_module_feedback_content{background:#fff;-webkit-overflow-scrolling: touch;}
#lz_overlay_module_feedback{z-index:+1;}

#lz_chat_data_header div{line-height:normal !important;text-align:center;}
#lz_chat_data_header *{color:#fff;}

#lz_chat_content_box{position:absolute;top:51px;right:0;bottom:80px;left:0;cursor:default;overflow:auto;margin:0;text-align:left;overflow-x:hidden;word-break: break-word;}
#lz_chat_members_box{position:absolute;display:none;top:51px;left:1px;width:200px;background:#fcfcfc;border-right: 1px solid #e4e4e4;overflow:auto;box-sizing: border-box;}
#lz_chat_members_box div span{background-size:32px 24px;width:32px;height:24px;display:inline-block;margin:0 8px 0 0;border-radius:3px;}
#lz_chat_members_box div{line-height: 24px;margin: 5px;border-radius: 3px;padding: 10px;border: 1px solid #eee;background: #fff;}
#lz_chat_members_box hr{border: 0;height:0;border-top: 1px dotted #e4e4e4;margin:5px 0;}

#lz_chat_content_inlay::after{content: "";height: 15px;display: block;}
#lz_chat_overlay_ticket div{text-align:center;position:absolute;top:30%;left:20px;right:20px;}
#lz_chat_overlay_ticket div.lz_overlay_chat_button{top:auto;bottom:30px;}
#lz_chat_overlay_ticket h2{text-align:center;font-size:1.8em;margin:10px;position:static;}
#lz_chat_queued_posts{font-style:italic;padding:0;margin:0;}
#lz_chat_overlay_file_upload_frame{width:100%;height:100%;position:static;border:0;}
#lz_chat_waiting_message_count{line-height:24px !important;text-align:center;width:25px;height:100%;font-size:13px;color:#FFFFFF;font-weight:bold;position:absolute;}
#lz_chat_cl{color:inherit !important;text-decoration:none !important;background:none !important;font-weight:bold !important;font-size:11px;}
#lz_chat_state_bar{right:0;left:0;}
#lz_chat_operator_groupname{font-weight:bold;font-size:17px;color:#fff;}
#lz_chat_operator_fullname{display:none;width:100%;text-align:center;padding-top:4px;}
#lz_chat_overlay_option_function_fu{top:44px;bottom:40px;right:10px;left:10px;position:absolute;}
#lz_chat_state_change{position:absolute;cursor:pointer;padding:0;margin:0;height:10px;width:12px;right:12px;top:3px;}
#lz_chat_overlay_minimize{top:14px;right:7px;z-index:1100;}
#lz_chat_options_button {left:10px;top:17px;position:absolute;}
#lz_chat_options_button:hover{opacity:0.9;}
#lz_chat_options_table{position:absolute;right:10px;left:10px;top:60px;cursor:pointer;box-shadow:0 4px 15px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1);max-width:700px;background:#fff;}
#lz_chat_options_table *{position:static !important;}
#lz_chat_options_table div{color:#444;vertical-align:middle;padding:8px 10px;border-top:1px solid #eee !important;font-size:14px;}
#lz_chat_options_table div:hover{background:#eee;}
#lz_chat_options_table svg{float:right;margin:-2px;}
#lz_chat_data_header_text{margin:20px 2px 16px 2px;}
#lz_chat_data_form_inputs{position:absolute;left:0;right:0;top: 51px;padding:0 26px 0 30px;left:0;bottom:0;overflow:auto;}
#lz_chat_data_form_inputs > div{margin:5px auto;max-width:500px;}
#lz_chat_data_phone_header_number{padding:30px .1em 0 .1em;font-weight: bold;font-size:1.8em;text-align:center;text-decoration: none;display:block;margin:0 auto;}
#lz_chat_data_phone_header_number:hover{text-decoration: underline;}
#lz_chat_data_phone_header_text{padding:0.6em 1em 0 1em;font-size:0.9em;text-align:center;color:#888;}
#lz_chat_feedback_init{left:40px;top:15px;width:30px;height:20px;display:none;}
#lz_chat_feedback_init:hover{opacity:0.6;}
#lz_chat_queue_position,#lz_chat_queue_waiting_time{font-weight:bold;}
#lz_chat_overlay_bottom{position:absolute;bottom:5px;left:1px;right:1px;height:74px;padding:0;border-top:1px solid #f1f1f1;}
#lz_chat_overlay_bottom div{text-align:center !important;}
#lz_chat_bot_reply_loading{padding:30px 0 0 0;}
#lz_chat_bot_reply_loading span{padding:7px !important;}
#lz_chat_overlay_loading{position:absolute;background:#fff;top:50px;left:1px;bottom:6px;right:1px;z-index:+1000;border-top:1px solid #e4e4e4;}
#lz_chat_overlay_loading div.lz_anim_point_load{position: absolute;top: 50%;left: 0;right: 0;text-align: center;margin: -50px 0 0 0 !important;}
#lz_chat_overlay_loading div.lz_anim_point_load span{padding:8px !important;}
#lz_chat_overlay_info{position:absolute;overflow:hidden;bottom:79px;right:0;left:0;height:40px;background:#f9f9f9;text-align:center;font-weight:bold;color:#777;line-height:40px !important;}
#lz_chat_text{overflow:auto;resize:none;width:100% !important;box-sizing:border-box;height:72px;border:0 !important;box-shadow:none !important;outline:0;font-family:sans-serif,Helvetica,Arial,'Roboto' !important;-webkit-font-smoothing: antialiased;padding:8px !important;color:#555 !important;cursor:text !important;margin:0 !important;box-sizing:border-box;background:#fff !important;}
#lz_chat_text_send{right:7px;bottom:35px;fill:#999 !important;display:none;padding:5px;}
#lz_chat_text_file{right:7px;bottom:37px;fill:#999 !important;display:none;padding:5px;}
#lz_chat_text_frame{position:absolute;left:0;right:40px;}
#lz_chat_kb_match_info{position:absolute;margin:-20px 0 0 -140px;width:280px;height:160px;background:#fafafa;box-shadow:#222 0px 0px 7px;left:50%;}
#lz_chat_kb_match_info_text{position:absolute;top:25px;right:30px;left:25px;bottom:60px;}
#lz_chat_kb_match_close{position:absolute;top:6px;right:3px;width:16px;height:16px;fill:#999 !important;}
#lz_chat_apo{top:14px;right:42px;position:absolute;width:16px !important;}
#lz_chat_apo_icon{position:static;opacity:.7;transform:scaleX(-1);width:16px !important;left:0;z-index:1100;}
#lz_chat_apa{bottom:0;right:0;left:0;height:27px;position:absolute;line-height: 27px;text-align:center;}
#lz_chat_apa a{line-height: 27px;}
#lz_form_tos td{padding:15px 0 0 0 !important;}
#lz_chat_flash{position:fixed;top:0;left:0;bottom:0;right:0;background-color:#fff;z-index:999999999;}
#lz_chat_tos_text_box{padding:20px;height: 100%;overflow:auto;box-sizing:border-box;}
#lz_overlay_eyecatcher{width:100%;height:100%;text-align:left;direction:ltr;z-index:99999999;}
#lz_overlay_eyecatcher *{position:absolute;font-family:sans-serif,Helvetica,Arial,'Roboto' !important;-webkit-font-smoothing: antialiased;cursor:pointer;text-align:left;line-height:20px;-webkit-text-size-adjust: none;z-index:99999999;}
#lz_overlay_eyecatcher_close{opacity:0.5;z-index:10003;top:10px;right:13px;width:18px;padding:2px;text-align:center;}
#lz_overlay_eyecatcher_close:hover{opacity:1;}
#lz_overlay_eyecatcher_avatar{position:absolute;top:16px;z-index:10005;border-radius:35px;width:60px;height:60px;}
#lz_overlay_eyecatcher_avatar_bg{position:absolute;bottom:8px;z-index:10004;width:76px;height:60px;border-top-left-radius:8px;border-bottom-left-radius:8px;}

#lz_group_selection_box tr td:nth-child(1){width:10px;padding-right:10px;white-space: nowrap;}

@keyframes lz_anim_flip {100% { transform: rotateX(0deg);}}
@keyframes lz_anim_slide_in {100% { transform: translateY(0%);}}
@keyframes lz_anim_hs{0% {margin-right:4px;}10% {margin-right:8px;}20% {margin-right:-8px;}30% {margin-right:8px;}60% {margin-right:-8px;}100% {margin-right:0;}}
@keyframes blink {0% {opacity: .2;}20% {opacity: 1;}100% {opacity: .2;}}

@media only screen and (min-device-width: 1500px){.lz_chat_mdc *{font-size:18px !important;}}
@media only screen and (min-device-width: 1300px) and (max-width: 1500px){.lz_chat_mdc *{font-size:17px;}}
@media only screen and (min-device-width: 1100px) and (max-width: 1300px){.lz_chat_mdc *{font-size:17px;}}
@media only screen and (min-device-width: 900px) and (max-width: 1100px){.lz_chat_mdc *{font-size:16px;}}
@media only screen and (min-device-width: 700px) and (max-width: 900px){.lz_chat_mdc *{font-size:15px;}}
@media only screen and (min-device-width: 600px) and (max-width: 700px){.lz_chat_mdc *{font-size:14px;}}
@media only screen and (min-device-width: 500px) and (max-width: 600px){.lz_chat_mdc *{font-size:13px;}}
@media only screen and (max-width: 500px){lz_chat_mdc *{font-size:13px;}}

.lz_chat_mail, .lz_chat_human{cursor:pointer;text-decoration:underline;}
.lz_chat_link, .lz_chat_file, .lz_chat_mail, .lz_chat_human{color:var(--sc-color) !important;}
.lz_chat_fill{fill: var(--pc-color) !important;}
.lz_chat_bg{background: var(--pc-color) !important;}
