// Header 
#header {
	padding: 10px 0;
}
.navbar-nav {
	flex: 1;
	align-items: center;
	
}
.language-switcher {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
    position: absolute;
    right: 0;
    top: 30px;
    font-size: .8em;
	li {
		margin: 0px;
		a {
			padding: 0px 6px !important;
		border-right: 1px solid @very-light-grey;

		}
		&:last-child a{
			border:none;
		}
		
	}
}
.nav-item {
	margin: 0 12px;
  
}
.e-banking-button  {
	margin-left:auto;
  margin-right: 0px;
}
.dropdown-menu {
    border: none;
    box-shadow: 0px 5px 30px rgba(0,0,0,.3);
    border-radius: 0px;
    padding: 20px;
    .dropdown-item {
    	border-bottom: .5px solid @very-light-grey;
    	padding: 8px;
    	&:last-child {
    		border:none;
    	}
    }
}
.dropdown-toggle:after{
  color:@light-grey;
}
.dropdown-item.active, .dropdown-item:active {
	background: @primary;
	a {
		color:white;
	}
}

.entry-points {
	    display: flex;
    flex: auto;
    justify-content: space-evenly;
    flex-direction: row;
    padding:0px;


    .nav-item {
    	flex:1;
    	padding: 10px;
    	text-align:center;
    	border-left:1px solid @primary-dark;
    	border-right: 1px solid @primary-dark;
    	margin: 0px;
    	.transition;
    	a {
    		color:white;
    	}
    	&:hover {
    		background: @primary-dark;
    	}
    	&:last-child {
    		border-left: none;
    	}	
    }
    .dropdown-menu {
    left: -10px !important;
    right: 10px !important;
    top: 8px !important;
    }
    .dropdown-item {
    	color:@black !important;
    }
}


// HOME PAGE
// HOME PAGE :: MAIN CONTENT
 .contact-list {
 	min-height: 450px;
    box-shadow: 1px 9px 20px 0px rgba(0,0,0,.2);
    color: black;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    li {
    	cursor: pointer;
    	border-bottom: 1px solid @very-light-grey;
    	flex: 1;
    	display: inline-flex;
    	align-items: center;
    	padding: 20px;
    	font-size: 1.3rem;
      .transition;

    	&:last-child {
    		border: none;
    	}
    	&:hover {
    		background: rgba(0,0,0,.035);
    	}

    }
   i {
   	background-color: @primary;
   	background-size: 20px;
   	background-position: center;
   	background-repeat: no-repeat;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    min-width: 50px;
    margin-right: 2rem;


   }
   .contact-icon {
   	background-image: url('../images/contact-icon.svg');
   }
      .chat-icon {
   	background-image: url('../images/chat-icon.svg');
   }
      .appointment-icon {
   	background-image: url('../images/appointment-icon.svg');
   }

 }

.custom-offset-md-2 {
    margin-left: 12.9%;
}
@media (min-width: 768px){
.custom-col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 70.4% !important;
}
}
 // SLIDER
 /*Slider*/
.slick-list.draggable,
.slick-track,
.slick-slide {
	height: 100%;
}

#main-slider {
	height: 450px;
	overflow: hidden;

}
.single-slide {
	height: 100%;
}
.slick-arrow {
	background: white !important;
	height: 150px;
	width: 50px;
	z-index: 5;
	&:before {
		color: black;
		font-family: inherit
	}

	&:hover {
		background: white;
	}
.slick-prev,.slick-next {
	background: white;
}

}
.slick-prev {
	left: 0px !important;
}
.slick-next {
	right: 0px !important;
}
.slick-dots li button:before {
	font-size: 12px;
	color:white;
}
.slick-dots {
	    display: block;
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: auto;
    background: transparent;
    padding: 5px 10px;
}
.slick-dots li.slick-active button:before {
	color:white;
}

.slide-content {
	position: absolute;
	background: @primary;
	bottom: 0px;
	padding: 20px 60px 40px ;
	
	.heading,.small-heading {
		color:white;
	}
	.heading {
		font-size: 2rem;
	}
	.small-heading {
    font-size: 1rem;
    font-weight: lighter;
	}
}

// FOOTER
.footer-wrapper {
  border-top: 1px solid @very-light-grey;
  padding-top: 30px;
  margin-top: 30px;
}
footer {
	   i {
   
   	background-size: 20px;
   	background-position: center;
   	background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    min-width: 32px;
    margin-right: .5rem;
    display: inline-flex;
    align-items: center;
    font-size: .9rem;


   }
   .swift-icon {
   	background-image: url('../images/swift-icon.svg');
   }
      .envelope-icon {
   	background-image: url('../images/envelope-icon.svg');
   }
      .location-icon {
   	background-image: url('../images/location-icon.svg');
   }
    .social-media-icon {
    		background-size: 26px;
   	background-position: center;
   	background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    min-width: 42px;
    margin-right: .5rem;
    display: inline-flex;
    align-items: center;
    text-indent: -9999999px;
    }
   .social-media-icon.fb {
   		background-image: url('../images/fb-icon.svg');
   }
      .social-media-icon.yt {
   		background-image: url('../images/yt-icon.svg');
   }
   .group-logo {
   	max-width: 100px;
   }
   .copyright {
   	font-size: .8rem;
   	color:grey;
   }
}


// Small subheader
.chat-now-button {
  background: white;
    padding: 15px 50px;
    display: inline-flex;
    align-items: center;
    color: black;
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
    position: relative;
  .transition;
 &:after {
    position: absolute;
    content: "";
    background-color: #DA2128;
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    min-width: 40px;
    background-image: url(../images/chat-icon.svg);
    right: 5px;
    top: -20px;
   
 }
}

form {
    label {
      display: none;
    }
    input,select {
      border: 1px solid @very-light-grey;
      padding: 6px 40px;
      border-radius: 20px;
      width: 100%;
      &:focus,&:active {
        outline: none;
        border-color: @primary;
      }
      -webkit-appearance: none;
    }
    button {
      width: 100%;
    }
}
select#city {
  background:url('../images/small-location-icon.svg');
     background-repeat: no-repeat;
    background-size: 13px;
    background-position: 20px center;
}
input#date {
  background:url('../images/date-icon.svg');
     background-repeat: no-repeat;
    background-size: 13px;
    background-position: 20px center;
}
.sub-header-image {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar {
  border-right: 1px solid @very-light-grey;

.nav-link.active {
  position: relative;
  font-weight: bold;
  &:before {
    content: "❯";
    color:@primary;
    position: absolute;
    font-size: .9rem;
    left: 0;
    top: 0;
    bottom: 0px;
    height: 1em;
    width: auto;
    margin: auto;
    line-height: 1;

  }
}
}
.nav-tabs {
  border: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: transparent;
  border: none;
}
.nav-tabs .nav-link {
  border-radius: 0px;
  border: none;
}
// ECO

.eco-box {
  border-top-right-radius:30px;
  padding: 50px 30px;
  position: relative;

  .eco-title {
    color:white;
   display: inline-block;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 70%;
      height: 3px;
      background: white;

    }

  }
  .eco-content {
    color:white;
  }
  .eco-icon {
    max-width: 60px;
  }
  .eco-image {
    position: absolute;
    max-width: 250px;
    bottom: -50px;
    right: 20px;
    .transition;
  }
  &.green-box {
    .gradient-green;
  }
  &.red-box {
    .gradient-red;
  }
  &:hover {
    .eco-image {
      transform: scale(1.05);
    }
  }
}

// eco tabs

.fancy-tabs {
  li {
        min-height: 100px;
        background: @very-light-grey;
        width: 100%;
        .transition;
        margin: 1px 0;
        &:hover {
          
          box-shadow: 0px 0px 10px rgba(0,0,0,.1);

        }
  }
  i {
        border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
    min-width: 50px;
    display: block;
    margin-right: 2rem;
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .icon-home {
    background-image: url('../images/eco-home.svg');
  }
    .icon-bulb {
    background-image: url('../images/eco-bulb.svg');
  }
    .icon-solar {
    background-image: url('../images/eco-solar.svg');
  }
  a {
        display: flex;
    align-items: center;
    height: 100%;
    padding: 20px;
    font-weight: bold;
  }
  .nav-link.active {
     .gradient-green;
     color:white;
     transform: scale(1.03);
  }
}