//FONTS
html,
body {
	height: 100%;
}


p {
	font-size: 90%;
}

p,
a,
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: @black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	color: @black;
}



a {
	&:hover,
	&:focus,
	&:active {
		color: @primary;
		text-decoration: none;
	}

}

i {
	margin-right: 10px;
}
.btn {
	border-radius: 20px;
	border:none;
	padding: 6px 35px !important;
}
.btn-primary {
	background: @primary;
	color:white;
	&:hover,&:active, &:focus {
		background: @primary-dark;
		color:white;
	}
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background: @primary-dark;
}
.btn-primary.focus, .btn-primary:focus {
	box-shadow: none !important;
}
.navbar-brand {
	display: inline-block;
	width: 200px;
	height: auto;
	background: url('images/logo.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: -99999px;
}

.bg-primary {
	background: @primary !important;
}

.bg-light {
	background:@very-light-grey;
}
.page-title {
	color:@grey-text;
	font-weight: bold;
	font-size: 2.2rem;
}
.breadcrumbs {
	align-items: center;
	margin: 0px;

	li  {
		border-right: 1px solid @primary-dark;
		padding-right: 10px;
		margin-right: 10px;
		a {
		color:white;
		font-weight: 300;
		font-size: .9rem;
	}
		&:last-child {
			border: none;
		}
	}
}


.subheading {
	color:@grey-text;
	font-size: 1.2rem;
}
.page-content {
	margin: 60px 0;
}
.navbar-toggler-icon {
	background: url('../images/menu.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}