.transition{
	 -webkit-transition:all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.transition-slow{
	 -webkit-transition:all 550ms ease-in-out;
  -moz-transition: all 550ms ease-in-out;
  -o-transition: all 550ms ease-in-out;
  transition: all 550ms ease-in-out;
}
.gradient-green {
	background: rgb(0,144,102);
background: -moz-linear-gradient(-45deg, rgba(0,144,102,1) 0%, rgba(0,72,51,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(0,144,102,1) 0%,rgba(0,72,51,1) 100%);
background: linear-gradient(135deg, rgba(0,144,102,1) 0%,rgba(0,72,51,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009066', endColorstr='#004833',GradientType=1 );
}
.gradient-red {
	background: rgb(218,33,40);
background: -moz-linear-gradient(-45deg, rgba(218,33,40,1) 0%, rgba(109,17,20,1) 100%);
background: -webkit-linear-gradient(-45deg, rgba(218,33,40,1) 0%,rgba(109,17,20,1) 100%);
background: linear-gradient(135deg, rgba(218,33,40,1) 0%,rgba(109,17,20,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da2128', endColorstr='#6d1114',GradientType=1 );
}