@media @smartphones {

.language-switcher {
	    margin-right: 5rem;
}	
.navbar-expand-lg .navbar-nav {
	margin-top: 20px;
}
.navbar-expand-lg .nav-item {
	margin: 5px 12px;
}
.custom-offset-md-2 {
	margin: 0px;
}
.nav-item,.dropdown-item {
	text-align: center;
}
.e-banking-button {
	margin-left: 0;
}
#main-slider {
	height: auto;
	margin-bottom: 0px;
}
.dropdown-menu.show {
	border-top: 1px solid @primary;
	box-shadow: none;
}
.slide-content {
	position: relative;
}
.entry-points .dropdown-menu {
	
	width: 200%;
	    left: 0px !important;
    right: 0px !important;

}
.entry-points-wrapper {
	background: @granit !important;
}
.entry-points .nav-item {
	border-color: @granit-dark !important;
}

.contact-list {
	min-height: initial;
}
.chat-now-button {
	padding: 15px 20px;
}
.eco-box {
	margin-bottom: 100px;
	.eco-image {
		max-width: 150px;
	}
}
.breadcrumbs {
	    flex-wrap: wrap;
    padding: 10px;
    width: 60%;
}
.sidebar {
	border-bottom: 1px solid @very-light-grey;
	border-right: none;
	ul li {
		width: 100%;
	}
}
.sub-header-image {
	height: 200px;
}
}


@media only screen and (min-width: 500px ) and (max-width: 992px) {
	.page-title {
		font-size: 1.8rem;
	}
	.custom-offset-md-2{
		margin-left: 0px ;
	}
	.custom-col-md-8 {
	max-width: 66.666667% !important;
	}
	#main-slider {
		height: auto;
	}
	.slide-content {
		position: relative;
	}
	.language-switcher {
		margin-right: 10rem;
	}
	.e-banking-button {
		margin-left: 0;
	}
	.eco-image {
		max-width: 150px !important;
	}

}