// Files
@images: "../css/images";




// Colors

@white: #fffefe;
@black: #333;




@primary: #DA2128;
@primary-dark:#c11a20;

@dark-grey:  #697483;
@light-grey: #E5E5E5;
@very-light-grey: #E5E7EB;

@grey: #4f4f4f;

@grey-text:#697483;

@granit:#495057;
@granit-dark:#343a40;

// Media Queries
@screen-xs-min: 480px;
@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;

@smartphones: ~"only screen and (max-width: 500px)";
@tablets: ~"only screen and (max-width: 980px)";